
/* Add Font Face */

@font-face {
    font-family: 'Popins';
    src: url('./../assets/fonts/Poppins-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    font-family: Popins ,sans-serif;
}

/* >>>>> Navigation Bar <<<<< */

.navMain{
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: white;
    height: 85px;
    border-bottom: 1px solid gray;
}

.navLogo{
    width: 40px; 
    flex: 1.2;
    padding: 4px 4px;
    margin-left: 90px;
    align-content: center;
}

.navLogo span{
    color: white;
    text-align: center;
    background-color: #4c40f7;
    box-shadow: -5px 8px 15px gray;
    border-radius: 10px;
    padding: 3px 11px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 900;
}

.navPages{
    width: 280px;
    margin-left: 20px;
    flex: 1.9;
}

.navBtn{
    flex: 0.8;
}

.navPages ul li,a{
    color: rgb(113, 113, 113);
    margin-right: 20px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    list-style-type: none;
    float: inline-start;
    cursor: pointer;
}

.navBtn button{
    background-color: #4c40f7;
    color: white;
    font-size: 18;
    font-weight: 600;
    padding: 22px 36px;
    margin-right: -45px;
    border: none;
    border-radius: 10px;
    box-shadow: -4px 5px 18px rgb(174, 174, 174);

}

/* >>>>> Section 01 Text,Image with BTN <<<<< */

.ahsChild {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    padding-top: 80px;
    width: 100%;
    height: 498px;
    padding-bottom: 20px;
}

.ahsChild .txtDiv > h1{
    font-size: 48px;
    font-weight: 600;
}

.txtDiv{
    margin-left: 30px;
}

.txtDiv span{
    color: #ff6800;
}

.txtDiv p{
    font-size: 18px;
}

.txtDiv button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4c40f7;
    color: white;
    font-size: 18;
    font-weight: 600;
    padding: 18px 60px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: -4px 5px 18px rgb(174, 174, 174);   
}

.txtDiv button >img{
    margin-left: 5px;
    width: 20px;
    height: 25px;
}

.ahsChild > .imgDiv img{
    width: 650px;
    height: 475px;
}

.imgDiv{
    display: flex;
    padding: 0;
}

/* Section 02 Our Sercvices */

.secTwoParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.serviceHeadtxt{
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 35px auto;
    text-align: center;
}

.serviceHeadtxt h1{
    font-size: 20px;
    font-weight: 600;
    color: #ff2d59;
}

.serviceHeadtxt p{
    font-size: 42px;
    font-weight: 600;
}

/* >>>>> Cards <<<<< */

.cardMain{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.cardMain > .mains{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 350px;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: rgb(219, 222, 225,0.4) -10px 30px 70px 0px;
    /* border: 1px solid rgb(0, 0, 0); */
    transition: 0.5s ease 0s;
}

.cardMain > .mains:hover{
    background-color: #4c40f7;
    color: white;
}

.first{
    margin-left: 70px;
}

.last{
    margin-right: 70px;
}

.cardIconDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 25px;
    box-shadow: rgb(76, 64, 247,0.25) -15px 10px 30px 0px;
    background-color: chartreuse;
}

.cardIconDiv+p{
    font-weight: 600;
}

.oneMains{
    background-color: #fff;
}

.twoMains{
    background-color: #ff2d59;
}

.threeMains{
    background-color: #4adb61;
}

.fourMains{
    background-color: #ffcc00;
}

.fiveMains{
    background-color: #007bff;
}

.sixMains{
    background-color: #ff6800;
}

.cardMain > div > .cardIconDiv > img{
    width: 25px;
    height: 30px;
}

.mains button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 244, 246);;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    outline: none;
    border: none;
}

.mains > div,p,button{
    margin-bottom: 30px;
}

.mains button img{
    width: 20px;
    height: 20px;
}

/* >>>>> Our Documentation Section <<<<< */

.ourDocMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.ourDocMain > .textDiv{
    padding-top: 50px;
    text-align: center;
}

.ourDocMain > .textDiv h2{
    font-size: 20px;
    font-weight: 600;
    color: #ff2d59;
}

.ourDocMain > .textDiv p{
    font-size: 42px;
    font-weight: 600;
}

.iFrameDiv{
    width: 100%;
    height: 555px;
    display: flex;
    justify-content: center;
    background-image: url(./../assets/images/documentaionBackground.svg);
    align-items: flex-end;
}

.iframeChild > video{
    width: 955px;
    height: 540px;
    display: flex;
    align-items: flex-end;
}

/* >>>>> Customer Satisfication Section <<<<< */

.customerMain{
    width: 100%;
    display: flex;
    justify-content: space-around;
}